@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import "tailwindcss";

@theme {
  --color-green: #057203;
  --color-light-green: #17750d;
  --color-green-100: #f0fff0;
  --color-off-black: #030303;
  --color-black-600: #333636;
  --color-black-700: #0a0a0a;
  --color-black-800: #383838;
  --color-black-900: #1e1e1e;
  --color-dark-black: #181725;
  --color-dark-blue: #001f3f;
  --color-red: #fc3030;
  --color-orange: #ec6d1d;
  --color-off-white: #f3f3f3;
  --leading-100: 100%;
  --text-13: 13px;
}
@layer components {
  .nav_link {
    @apply relative after:absolute after:w-full sm:after:h-0.5 after:h-px after:bg-blue-950 after:-bottom-1 after:left-0 after:transform after:scale-x-0 after:transition-transform after:duration-300 hover:after:scale-x-100;
  }
}
body {
  font-family: "Inter", sans-serif;
}
.font-titillium {
  font-family: "Titillium Web", sans-serif;
}
@keyframes typewriter-loop {
  0% {
    width: 0;
  }
  40% {
    width: 100%;
  }
  60% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blinkCaret {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: #172554;
  }
}

.typewriter-text {
  font-size: clamp(1.5rem, 4vw, 3rem);
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #172554;
  width: 0;
  margin: 0 auto;
  animation: typewriter-loop 9s steps(30, end) infinite,
    blinkCaret 0.9s step-end infinite;
}
