@import "tailwindcss";

@theme {
  --color-green: #057203;
  --color-light-green: #17750d;
  --color-green-100: #f0fff0;
  --color-off-black: #030303;
  --color-black-600: #333636;
  --color-black-700: #0a0a0a;
  --color-black-800: #383838;
  --color-black-900: #1e1e1e;
  --color-dark-black: #181725;
  --color-red: #fc3030;
  --color-orange: #ec6d1d;
  --color-off-white: #f3f3f3;
  --leading-100: 100%;
  --text-13: 13px;
}
